@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:ital,wght@0,300;0,400;1,200&family=Noto+Sans&family=Poppins&family=Roboto+Mono&family=Source+Code+Pro&family=Syne&family=Tilt+Neon&display=swap');*{
    margin:0;padding:0;
    border-radius: 4px;
}
body {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    background-color: #343541;
    color: white;
}
a {
    color:white;
    text-decoration: none;
    background-color: #202123;
    text-align: center;
    padding: 20px;
    transition: ease-in-out 400ms;
    border:none;
}
.activeBtn {
    border: 1px solid red;
    box-sizing: border-box;
    cursor:default;
    pointer-events: none;
}
a:hover:not(.activeBtn) {
    background-color: #434654;
}
table {
    border:4px solid #202123;
    background-color: #434654;
    text-align:center;
}
th {
    padding:20px;
    border-bottom:4px solid #202123;
}
td {
    padding:20px;
}
img {
    height:100px;
}
.con {
    margin-top:4%;
    display:flex;
    justify-content:space-evenly;
    width:95vw;
}
.btnMenu {
    display:flex;
    flex-flow:column;
    justify-content:space-between;
    align-items:stretch;
    padding: 0 20px 0 20px;
    height:90vh;
}
.btnMenu:nth-child(1){
    margin-top: 0;
}
.editForm {
    display: flex;
}
.formInputs {
    display: flex;
    flex-flow: column;
    padding: 0 20px 0 20px;
}

input[type=text], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    transition: ease-in-out 400ms;

}

input[type=submit]:hover {
    background-color: #434654;
}